* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

body {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    font-size: 14px;
    overflow-y: auto;
}

@property --perA {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 75%;
}

@property --perB {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 99%;
}

@property --perC {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%;
}

@property --perD {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%;
}

@property --perE {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 86%;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

body {
    background-image:
        radial-gradient(circle at var(--perE) 7%,
            rgba(40, 40, 40, 0.06) 0%,
            rgba(40, 40, 40, 0.06) 50%,
            rgba(200, 200, 200, 0.06) 50%,
            rgba(200, 200, 200, 0.06) 100%),
        radial-gradient(circle at var(--perC) var(--perD),
            rgba(99, 99, 99, 0.06) 0%,
            rgba(99, 99, 99, 0.06) 50%,
            rgba(45, 45, 45, 0.06) 50%,
            rgba(45, 45, 45, 0.06) 100%),
        radial-gradient(circle at var(--perA) var(--perB),
            rgba(243, 243, 243, 0.06) 0%,
            rgba(243, 243, 243, 0.06) 50%,
            rgba(37, 37, 37, 0.06) 50%,
            rgba(37, 37, 37, 0.06) 100%),
        linear-gradient(var(--angle), rgba(36, 134, 185, 1) 5.231535756154749%, rgba(147, 181, 207, 1));
    animation: move 30s infinite alternate linear;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes move {
    100% {
        --perA: 85%;
        --perB: 49%;
        --perC: 45%;
        --perD: 39%;
        --perE: 70%;
        --angle: 360deg;
    }
}